*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#f4e4ba;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: #ffffff;
    border-radius: 1rem;
    min-height: 60vh;
    width: 55vh;
    padding: 2rem;
}

.amount p{
    font-size: 1.4rem;
    
}

form{
    margin: 2rem 0 2rem 0;
}

form select, input, button{
    width: 100%;
    border-radius: 0.75rem;
    border: none;
    outline: none;
}

input{
    border : 1px solid lightgray;
    height: 3rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    margin-top: 1rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
    max-width: 3rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;  
}
.select-container select{
    font-size: 1rem;
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0rem;
    font-size: 1.7rem;
    
}


button{
    height: 3rem;
    background-color: #af4d98;
    font-size: 1.15rem;
    cursor: pointer;
    color: #fff;
    margin-top: 2rem;
}

button:hover{
    background-color:#a70b83;
}
